*,
*::after,
*::before {
	
}
/* AGREGADOS POR JOSE MANUEL (eliminar estos comentarios al entregar) */
h1{
	font-size: 2em; /* Tuve que agregar esto porque sino bootstrap dañaba el tamaño de los h1*/
}

#contenidoModal {
	background-color: #05290f;
}

.modalMayor{
	width: 530px; 
	margin-left: -30px;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-height: 100%;
	background: #f3efe0;
}
#slider{
    width: 500px;
    height:300px;
    margin:50px auto;
    box-shadow: 0px 0px 10px 3px grey;
    position: relative;
	margin-top: -190px;
}

div#slider { overflow: hidden; border: 5px solid green; }
div#slider figure img { width: 20%; height:100%;  float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  transition: 1s ease-in-out;
  height: 100%;
}

.btn-next, .btn-prev{
  position: absolute;
  opacity: 0.3;
  top: 30%;
  cursor: pointer;
  color: white;
  background-color: #05290f;
  padding: 20px;
  font-size: 50px;
  border:none;
}
.btn-next:hover, .btn-prev:hover{
	opacity: 1;
	transition-duration: .5s;
}

.btn-prev{
  left: 0px;
}
.btn-next{
  right: 0px;
}

 /* -----------------------------------------------------------*/ 
 /* --------------------HORIZONTAL BAR------------------------*/ 
 /* ---------------------------------------------------------*/ 
  /* -------------------------------------------------------*/ 

  @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
  .navBarHome{
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 82.21px;
	background-color: rgba(30, 112, 55, 0.97);
	z-index: 1000;
	justify-content: space-evenly;
  }

  .logoHeader {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
  }

  .logoHeader img{
	height: 4em;
	width: 4em;
  }

  .logoHeader h1{
	color:#05290f;
	margin: 0;
	font-weight: 800;
	font-size: 4em;
  }
  .menuCentrado{
	height: 100%;
	width: 80%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
  }
  .navBarHome ul{
	font-size: 1.5em;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 45%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	list-style: none;
	text-transform: uppercase;
  }

  .navBarHome ul li {
	display: flex;
	align-items: center;
  }
  .navBarHome ul li a{
	text-decoration: none;
	color: white;
  }
  .navBarHome ul li a:hover{
	color: greenyellow;
	transition-duration: .5s;
  }

 /* -----------------------------------------------------------*/ 
 /* --------------------SIDE BAR------------------------------*/ 
 /* ---------------------------------------------------------*/ 
  /* -------------------------------------------------------*/ 

.st-content {
	overflow-y: auto;
}

.st-menu {
	position: fixed;
	top: -17px;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #48a770;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	overflow: auto;
}

.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}



.st-menu-open .st-menu::after {
	width: 0;
	height: 0; 
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* .st-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
} */

.st-menu h2{
	text-align: center;
    margin: 0;
    padding: 0.1em 0.9em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgb(0 0 0 / 10%);
    font-weight: 300;
    font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

/* Individual effects */

/* Effect 1: Slide in on top */
.st-menu.st-effect-1{
	margin-top: 100px;
    height: 87.5vh;  /* CAMBIO POR JOSE MANUEL: cambié de 100 a 72vh para que no se vea el scroll feo al llamar al menú. */
    width: 230px;
}
.st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
	display: none;
}


/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */






body {
	
	color: #48a770;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	
}

/* a {
	text-decoration: none;
	color: #48a770;
	outline: none;
}

a:hover, a:focus {
	color: #2c774b;
	outline: none;
} */


.codrops-header {

width: 50%;
	margin-top: 8em;
	margin-left: 8em;
	padding: 3em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.codrops-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #aca89a;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
	font-weight: 400;
	background: rgba(255,255,255,0.3);
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.4);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}




.main {
	max-width: 69em;
	margin: 0 auto;
}

.column {
	float: left;
	width: 70%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
	text-align: right;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 0.5em;
	margin: 0;
	line-height: 1.5;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #388a5a;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: #2c774b;
}


.info {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding: 3em 0;
	opacity: 0.7;
	color: #aca89a;
}

.info a {
	font-weight: 700;
	font-size: 0.9em;
}

@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 2em; 
		text-align: center;
	}

	.column p {
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		text-align: center;
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {

	.codrops-header {
		font-size: 80%;
	}

	.codrops-top {
		font-size: 120%;
	}

	.codrops-icon span {
		display: none;
	}

}


.st-menu st-effect-1{
	margin-top: 8rem;
}


#st-trigger-effects{
	width: 10vh;
	margin-left: 5vh;
	height: 10vh;
	margin-top: 10vh;
	
}



.wrapper{
	width: 100%;
	margin-top: 100px;
	
	padding: 30px 0;
}

.slider-testimonial{
	width: 85%;
	max-width: 1400px;
	margin: auto;
}

.testimonial-client{
	margin-bottom: 15px;
}

.client-name{
	margin-left:60vh ;

}

.testimonial-text{
	width: 60vh;
	text-align: center;
	margin-left: 40vh;
}


.columnText{
	height: 20vh;
	font-size: 4vh;
	margin-left: 30vh;
}


.paragraph_excersices{
   
      margin-left: 200vh;
	  height: 30em;
}

.excersice_aproach{
	padding: 2em;
}

.respuesta_ejercicio1{
	padding: 2em;
	font-size: 1rem;
}

.button_vertical{
margin-left: 60rem;
}

.respuesta_ejercicio1{
	
	background-color: lightblue;
}